.background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 670px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.modal-window {
    width: 520px;
}

.modal-header {
    background-color: #d44637;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
    color: #fff;
    font-size: 18px;
    font-family: Serif;
    align-items: center;
}

.modal-close-button{
    width:30px;
    height: 30px;
    font-weight: 100;
    font-size: 27px;
    text-decoration: none;
    color: #fff;
    background-color: #d44637;
    outline: none;
    border: none;
    text-align: center;
    padding: 0;
    cursor: pointer;

}


.modal-close-button:before {
    transform: rotate(45deg);
}
.modal-close-button:after {
    transform: rotate(-45deg);
}


.modal-container{
    background-color: #e74c3c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
}


.modal-text-container {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: Serif;
    font-weight: bolder;
}

.modal-buttons-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.btn{
    min-width: 100px;
    text-align: center;
    padding: 13px 20px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #b3382c;
    cursor: pointer;
    margin: 20px;
}
